html{
  font-family: Arial;
}

// https://cssslider.com/webdesign/top-53-html-header-templates-compilation-for-2018-free-download-2642.html

body {
  background-color:#EFF5F5 ;
  margin: 0;
}
.parallax{
  background-image: url("https://raw.githubusercontent.com/TomKnn/HappilyEverAfter/main/love%20achtergrond.jpg");
  padding: 0px;
  margin: 0px;
  /*set a specific height*/
  height:100%;
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax h1{
  padding: 10px;
  font-size: 100px;
  color:white;
  height: 26px;
  position:absolute;
  top: 5%;
  font-family: arial;
  font-weight: 700;
}

.parallax h2 {
  padding-top: 470px;
  padding-left: 660px;
  padding-bottom: 10px;
  margin: 10px;
  color:white;
  text-align: left;
  font-family: arial;
  font-size: 22px;
/*   background: lightgray; */
}
ul{
  list-style-type: none;
  width: 100%;     
  display: table; 
  margin: 5px;
  padding: 0px 40px;
  overflow: hidden;
  background-color: gray;
  opacity: 70%;
}
nav {
  font-family: Arial Bold, sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  padding: 0px 40px;
}

li a {
  float: left;
  margin-left:200px;
  display: table-cell;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

article {
  background-color:lightgray;
  opacity: 80%;
  color: #303336;
  border-radius: 10px;
  margin-top: 100px;
  margin: 100px 30px 0px 35px;
  padding: 40px 40px;
  display: inline-block;
  justify-content:space-evenly;
  width: 350px;
  font-size: 30px
/*   box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2); */
}
// https://www.w3schools.com/css/css3_shadows.asp


footer {
background-color: gray;
  opacity: 70%;
  font-size: 30px;
  font-family: Arial Bold, sans-serif;
/*   margin: 50px;
  padding: 10px;
 overflow: hidden;
  text-align:left
z-index: 2; */
}

.cupid {
  width: 500px;
  height: 200px;
}
lax{
  background-image: url("https://raw.githubusercontent.com/TomKnn/HappilyEverAfter/main/cupid.jpg");
  padding: 0px;
  margin: 0px;
  /*set a specific height*/
  height:100vh;
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lax h3{
  padding: 10px;
  font-size: 100px;
  color:white;
  height: 26px;
  position:absolute;
  top: 5%;
  font-family: arial;
  font-weight: 700;
}

.form_container{
  display: column;
/*   border-block-color: lightgray; */
  width: 100px;
  background-color: lightgray;
  color: white;;
  border-radius: 10px;
  margin-top: 100px;
  margin: 100px 30px 0px 35px;
  padding: 40px 40px;
/*   display: inline-block;
  justify-content:space-evenly; */
/*   width: 350px; */
  font-size: 30px
}

.rallax{
  background-image: url("https://raw.githubusercontent.com/TomKnn/HappilyEverAfter/main/pexels-vera-arsic-984917.jpg");
  padding: 0px;
  margin: 0px;
  /*set a specific height*/
  height:100%;
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.rallax h1{
  padding-top: 320px;
  margin: 30px;
  font-size: 100px;
  color:white;
  height: 26px;
  position:absolute;
  top: 5%;
  font-family: arial;
  font-weight: 700;
}

.rallax h2 {
  padding-top: 470px;
  padding-left: 660px;
  padding-bottom: 10px;
  margin: 10px;
  color:white;
  text-align: left;
  font-family: arial;
  font-size: 22px;
/*   background: lightgray; */
}

.review_container{
  display: column;
/*   margin:40px;
  padding: 40px 40px;
  background-color: lightgray;
  color: white;; */
}

.review{
  border-block-color: lightgray;
  width: 900px;
  background-color: lightgray;
  color: white;;
  border-radius: 10px;
  margin-top: 100px;
  margin: 100px 30px 0px 35px;
  padding: 40px 40px;
/*   display: inline-block;
  justify-content:space-evenly; */
/*   width: 350px; */
  font-size: 30px
}
name{
  border-block-color: lightblue;
  width: 100px;
  background-color: lightblue;
  color: white;;
  border-radius: 10px;
  margin-top: 100px;
  margin: 100px 30px 0px 35px;
  padding: 40px 40px;
/*   display: inline-block;
  justify-content:space-evenly; */
/*   width: 350px; */
  font-size: 30px
}